@charset "UTF-8";

/* icon size for primary and secondary buttons */
.fdkIconButton {
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 0 4px 0 0; }

/* icon size for tertiary buttons */
.fdkIconButtonTertiary {
  height: 18px;
  width: 16px;
  padding-bottom: 2px;
  margin: 0 4px 0 0; }


/* primary and secodary button shape */
.fdkBtn {
  background-color: #333;
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
  padding: 16px 22px 16px 22px;
  border-radius: 4px;
  border: none;
  margin: 0px 10px 0px 0px; }

.fdkBtnLeft {
  border-radius: 4px 0px 0px 4px;
  margin: 0; }

.fdkBtnCenter {
  border-radius: 0;
  margin: 0; }

.fdkBtnRight {
  border-radius: 0px 4px 4px 0px;
  margin: 0; }


/* primary button styling */
.fdkBtnPrimary {
  color: var(--fdkColorWhite);
  background-color: var(--fdkColorNeutralDarker);
  box-shadow: 0 2px 4px rgba(18, 22, 25, 0.35); }

.fdkBtnPrimary:hover {
  background-color: var(--fdkColorNeutralDarkest);
  box-shadow: 0 5px 10px rgba(18, 22, 25, 0.35); }

.fdkBtnPrimary:active {
  background-color: var(--fdkColorNeutralDarkest);
  box-shadow: none; }

.fdkBtnPrimary:disabled {
  color: var(--fdkColorWhite);
  background-color: rgba(108, 115, 122, 0.3);
  box-shadow: none; }

.fdkBtnPrimarySelected {
  background-color: var(--fdkColorNeutralDarkest);
  box-shadow: none;
  padding: 16px 22px 16px 22px; }

.fdkBtnPrimarySelected:hover {
  background-color: var(--fdkColorNeutralDarkest);
  box-shadow: none; }


/* seconary button styling */
.fdkBtnSecondary {
  color: var(--fdkColorNeutralDarker);
  background-color: var(--fdkColorNeutralLight);
  box-shadow: 0 2px 4px rgba(18, 22, 25, 0.20); }

.fdkBtnSecondary:hover {
  background-color: var(--fdkColorNeutralDarkest);
  color: var(--fdkColorWhite);
  box-shadow: 0 5px 10px rgba(18, 22, 25, 0.35); }

.fdkBtnSecondary:active {
  background-color: var(--fdkColorNeutralDarkest);
  box-shadow: none; }

.fdkBtnSecondary:disabled {
  color: var(--fdkColorWhite);
  background-color: rgba(108, 115, 122, 0.3);
  box-shadow: none; }

.fdkBtnSecondarySelected {
  background-color: var(--fdkColorNeutralDarkest);
  color: var(--fdkColorWhite);
  box-shadow: none;
  padding: 16px 22px 16px 22px; }

.fdkBtnSecondarySelected:hover {
  background-color: var(--fdkColorNeutralDarkest);
  color: var(--fdkColorWhite);
  box-shadow: none; }


/* tertiary button styling */
.fdkBtnTertiary {
  color: var(--fdkColorNeutralDarker);
  font-size: 16px;
  line-height: 16px;
  border: 0;
  padding: 4px 0 0 0;
  border-bottom: 1px dashed var(--fdkColorNeutralDarker);
  background-color: var(--fdkColorNeutralLightest);
  margin: 0px 10px 0px 0px; }

.fdkBtnTertiary:disabled {
  color: rgba(45, 55, 65, 0.3);
  border-bottom: 1px dashed rgba(45, 55, 65, 0.3); }

.fdkBtnTertiary:disabled:hover {
  color: rgba(45, 55, 65, 0.3);
  border-bottom: 1px dashed rgba(45, 55, 65, 0.3); }

.fdkBtnTertiary:hover {
  border-bottom: none;
  padding-bottom: 1px; }


/* dropdown styling */
.fdkDropdownMenu {
  padding: 6px 0;
  border: 0;
}

.fdkDropdownItem {
  font-family: 'Heebo';
  padding: 8px 20px; }

.fdkDropdownItem:hover {
  color: #fff;
  background-color: var(--fdkColorNeutralDarker); }


/* link styling */

/* icon size for primary and secondary buttons */
.fdkIconExternal {
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 0 0 2px 4px; }

a {
  color: var(--fdkColorNeutralDarker);
  text-decoration: none;
  border-bottom: 1px solid var(--fdkColorNeutralDarker); }

a:hover {
  color: var(--fdkColorNeutralDarker);
  text-decoration: none;
  border-bottom: none; }

/*autosave*/
.fdkAutosave {
  padding: 20px;
  background-color: var(--fdkNeutralLight);
}
