@charset "UTF-8";
/* VALID */

.fdkColorNeutralDarker {
    color: #2D3741; }

.fdkColorPrimary {
    color: #0069A5; }

.fdkColorPrimaryLight {
    color: #8CBBD6; }

.fdkColorPrimaryUltralight {
      color: #EDF4F9; }
