@charset "UTF-8";

/*  D I V I D E R S   &   B O X E S  */

.designsystemDivider {
  border-color: #DEE3E8;
  width: 100%;
  margin: 20px 0px; }

.designsystemDividerSection {
  width: 100%;
  border-top: 2px solid #DEE3E8;
  margin: 80px 0px 80px 0px; }

.designsystemInfobox {
  width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: #EEF0F2;
  border: 1px dashed #2D3741;
  border-radius: 2px;
  display: inline-block; }

.designsystemIconbox {
  width: 160px;
  height: auto;
  vertical-align: middle;
  margin: 0px 10px 20px 0px;
  padding: 0px;
  float: left; }

.designsystemSpaceAbove {
  margin: 20px 0px 0px 0px; }

.designsystemSpaceBelow {
  margin: 0px 0px 20px 0px; }

.fdk-footer {
  border-top: 1px solid #DEE3E8;
  padding: 20px 0px;
  margin: 60px 0px 0px 0px; }

.fdkCheckbox {
  width: 21px;
  height: 21px;
  margin: 0px 6px 0px 0px;
  background-color: #ffffff;
  border: 1px solid #2D3741;
  border-radius: 3px;
  display: inline-block; }

/*  H E A D I N G S  */

.designsystemHeader {
  border-top: 2px solid #D2D7DC;
  border-bottom: 2px solid #D2D7DC;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  padding: 0.8em 0.8em 0.7em 0em;
  margin: 100px 0px 50px 0px;
  height: auto;
  float: left;
}

.designsystemNumber {
  width: 2.2em;
  font-weight: 600;
  float: left;
}

/*  C O L O R   P A L E T T E  */

.designsystemColorCard {
    width: 10em;
    border-radius: 0.7em;
    background-color: #fff;
    margin: 0 1em 1em 0;
    box-shadow: 0 0.2em 1.2em rgba(45, 55, 65, 0.15);
    float: left;
}

.designsystemColorCardTop {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
    padding-top: 5em;
    background-color: #646e78;
}

.designsystemColorCardBottom {
  width: 100%;
  height: 11em;
  font-size: 1.5rem;
  line-height: 2.4rem;
  border-radius: 0 0 0.5em 0.5em;
  text-align: center;
  background-color: #fafafa;
  padding: 0.8em 0.6em 1em 0.6em;
}

.designsystemDescription {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #999;
  font-weight: 300;
  margin: 0.2em 0 0.5em 0;
}

.designsystemColorPalette {
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 35px 5px 5px 5px;
  text-align: center;
  float: left;
  border-radius: 60px;
  border: 1px solid #D2D7DC; }

.designsystemColor1 {
  background-color: #2D3741;
  color: #fff;
  font-weight: 300; }

.designsystemColor2 {
  background-color: #A0A5AA;
  color: #fff;
  font-weight: 300; }

.designsystemColor3 {
  background-color: #646E78;
  color: #ffffff;
  font-weight: 300; }

.designsystemColor4 {
  background-color: #D2D7DC;
  color: #2D3741; }

.designsystemColor5 {
  background-color: #DEE3E8;
  color: #2D3741; }

.designsystemColor6 {
  background-color: #EEF0F2;
  color: #2D3741;
  border: 1px solid #D2D7DC; }

.designsystemColor7 {
  background-color: #F2F4F6;
  color: #2D3741; }

.designsystemColorCta {
  background-color: #00C3FF;
  color: #2D3741; }

.designsystemColorCta2 {
  background-color: #0069A5;
  color: #ffffff;
  font-weight: 300; }

.designsystemColorCta3 {
  background-color: #009BD7;
  color: #2D3741; }

.designsystemColorCta4 {
  background-color: #AAE6FF;
  color: #2D3741; }

.designsystemColorGreen {
  background-color: #00CD96;
  color: #2D3741; }

.designsystemColorGreen2 {
  background-color: #D7FAF0;
  color: #2D3741; }

.designsystemColorYellow {
  background-color: #FFC800;
  color: #2D3741; }

.designsystemColorYellow2 {
  background-color: #FFFAE1;
  color: #2D3741; }

.designsystemColorRed {
  background-color: #FF4682;
  color: #2D3741; }

.designsystemColorRed2 {
  background-color: #FFE1EB;
  color: #2D3741; }

.designsystemColorRed3 {
  background-color: #C80041;
  color: #ffffff;
  font-weight: 300; }

.designsystemColorWhite {
  background-color: #ffffff;
  color: #2D3741; }

/* F O N T S */
.designsystemLinks {
  color: #ffffff; }

.designsystemLinks:hover {
  color: #00C3FF; }
