p {
  color: var(--fdkNeutralDarker);
  font-family: "Heebo";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.fdkA {
  color: var(--fdkNeutralDarker);
  text-decoration: none; }

.fdkA:hover {
  color: var(--fdkNeutralDarker); }
